.backstage {
    background-color: #212321;
    color: #fefffa;
  }
h2 {
  font-family: 'Poppins', sans-serif; /* O usa una fuente minimalista como 'Roboto', 'Lato' */
  font-weight: 500; /* Resalta el título sin ser muy grueso */
  letter-spacing: 1px; /* Añade un poco de espacio entre letras */
  color: #fefffa; /* Un gris oscuro es más suave que el negro puro */
  text-transform: uppercase;
}
  .gallery-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
  }
  
  .gallery-item-large {
    height: 250px; /* Ocupar dos filas */
  }
  
  .gallery-item-half {
    height: 200px; /* La mitad de la imagen grande */
  }
  
  @media (min-width: 1025px) {
    .gallery-item {
        height: 200px;
    }

    .gallery-item-large {
      height: 400px; /* Ajuste para desktop */
    }
  
    .gallery-item-half {
      height: 200px; /* Ajuste para que las dos imágenes juntas ocupen el mismo alto que la imagen grande */
    }
  }
  