.backstage {
    background-color: #212321;
    color: #fefffa;
}
  
.gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
}

.gallery-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo collage para mobile (5 imágenes) */
@media screen and (max-width: 768px) {
    .gallery-item-0 {
        grid-column: span 2;
        grid-row: span 2;
        height: 250px;
    }

    .gallery-item-1,
    .gallery-item-2 {
        height: 180px;
    }

    .gallery-item-3,
    .gallery-item-4 {
        grid-column: span 2;
        height: 250px;
    }
}

/* Estilo collage para tablet (6 imágenes) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-item-0 {
        grid-column: span 2;
        height: 200px;
    }

    .gallery-item-1,
    .gallery-item-2 {
        height: 150px;
    }

    .gallery-item-3 {
        grid-column: span 3;
        height: 250px;
    }

    .gallery-item-4,
    .gallery-item-5 {
        height: 180px;
    }
}

/* Estilo collage para desktop (9 imágenes) */
@media screen and (min-width: 1025px) {
    .gallery-grid {
        grid-template-columns: repeat(12, 1fr); /* 12 columnas */
    }

    /* Primer conjunto de filas: foto grande a la izquierda, dos fotos chicas a la derecha */
    .gallery-item-0 {
        grid-column: span 8;
        grid-row: span 2;
        height: 400px;
    }

    .gallery-item-1,
    .gallery-item-2 {
        grid-column: span 4;
        grid-row: span 1;
        height: 195px;
    }

    .gallery-item-3,
    .gallery-item-4 {
        grid-column: span 4;
        grid-row-start: 3;
        height: 195px;
    }

    /* Segundo conjunto de filas (espejado): dos fotos chicas a la izquierda, foto grande a la derecha */
    .gallery-item-5 {
        grid-column: span 8;
        grid-row: span 2;
        height: 400px;
        grid-column-start: 5; /* La imagen grande empieza desde la columna 5 (a la derecha) */
    }

    .gallery-item-6,
    .gallery-item-7 {
        grid-column: span 4;
        grid-row: span 1;
        height: 195px;
        grid-row-start: 3;
    }

    .gallery-item-8 {
        grid-column: span 4;
        grid-row: span 1;
        height: 195px;
        grid-row-start: 4;
    }
}
