.custom-next-icon, .custom-prev-icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* Tamaño de las flechas */
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
  }
  
  .custom-next-icon {
    background-image: url('../assets/icons/izq.png');
  }
  
  .custom-prev-icon {
    background-image: url('../assets/icons/der.png');
  }
  
  /* Asegura que el carrusel ocupe todo el tamaño de su contenedor */
  .carousel-container {
    width: 100%;
    height: auto;
  }
  
  .custom-carousel-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
    height: 300px; /* Define una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes se adapten correctamente al contenedor */
  }
  
  /* Responsividad para pantallas grandes (mayor a 991px) */
  @media (min-width: 991px) {
    .carousel-container {
      width: 70vw; /* 70% del viewport width */
      margin: 0 auto; /* Centra el carrusel */
    }

    .custom-carousel-image {
      height: 400px; /* Ajusta el tamaño según tus necesidades para pantallas grandes */
    }

  }
  