.footer {
  background-color: #212321;
  color: #fefffa;
}

.footer-title {
  font-family: 'Modak', sans-serif;
  color: #f8c1bf;
  text-shadow: 1px 1px 0 #000000;
}

.footer-link {
  color: #fefffa;
  margin: 0 5px;
}

.footer-link:hover {
  color: #df8986;
}

.social-icon {
  margin: 0 10px;
  color: #fefffa;
}

.social-icon:hover {
  color: #df8986;
}

.copyright {
  font-size: clamp(0.875rem, 0.8182rem + 0.2273vw, 1rem);
  margin-top: 10px;
  color: #b9c2c4;
}

