/* Fonts and General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Section Styles */
.main-section {
  position: relative;
  height: 100vh;
  background-image: url('./assets/julis.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Session Section */
.session {
  background-color: #212321;
  color: #fefffa;
  padding: 3rem;
}

.session h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

/* Backstage Section */
.backstage {
  background-color: #212321;
  padding: 3rem 0;
}

/* Estilos generales para la galería */
.gallery-grid {
  display: grid;
  gap: 10px;
}

/* Versiones Mobile y Tablet */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* Una columna para imagenes de ancho completo */
  }

  .img1, .img4{
    grid-column: span 1; /* Estas imágenes ocupan todo el ancho */
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .img2, .img3 {
    
    height: 200px;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }

  /* Asegura que las imágenes 2 y 3 compartan la misma fila */
  .gallery-grid .img2, .gallery-grid .img3 {
    grid-template-columns: repeat(2, 1fr); /* Dividir el espacio en dos */
  }
}

/* Version Desktop */
@media (min-width: 769px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en desktop */
  }

  .img1, .img2, .img3, .img4{
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}

/* Estilos específicos para las imágenes */
.img1 {
  background-image: url('./assets/Fotos/Suave0.jpg');
}
.img2 {
  background-image: url('./assets/Fotos/Suave1.jpg');
}
.img3 {
  background-image: url('./assets/Fotos/Suave2.jpg');
}
.img4 {
  background-image: url('./assets/Fotos/Suave3.jpg');
}
