/* Fonts and General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@font-face {
  font-family: 'Tw-cen';
  src: url('./assets/tw.ttf') format('truetype'); /* Ruta a tu fuente */
  font-weight: 800;
  font-style: normal;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #212321;
}

h2 {
  font-family: 'Tw-cen', sans-serif; /* O usa una fuente minimalista como 'Roboto', 'Lato' */
  letter-spacing: 1px; /* Añade un poco de espacio entre letras */
  color: #fefffa; /* Un gris oscuro es más suave que el negro puro */
}

.main-section {
    background-color: #FFD4D3;
}

/* Background image only for Home ("/") */
.home-bg {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(33, 35, 33, 0) 80%, rgba(33, 35, 33, 1) 100%), url('./assets/julis.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* No background for other pages */
.no-bg {
    background-color: #FFD4D3;
}

/* Background for sessions page */
.sessions-bg {
  position: relative;
  background-color: #000;
  height: 60vh;
  background-image: url('./assets/sessionshd.gif');/* Cambia el URL del GIF a la ruta correcta */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Session Section */
.session {
  background-color: #212321;
  color: #fefffa;
}

.session h2 {
  text-align: center;
}

.ratio {
  height: 40vh;
  max-width: '100%';
}

.backstage {
  background-color: #212321;
}

@media (min-width: 991px){
  .ratio {
    height: 80vh;
    max-width: 70%;
  }

  .sessions-bg {
    background-color: #000;
    background-image: url('./assets/sessionshd.gif');/* Cambia el URL del GIF a la ruta correcta */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}